In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('excelview.csv')
df.head()

,Unnamed: 0,Address,Beds_Min,Beds_Max,Baths_Min,Baths_Max,Sqft_Min,Sqft_Max,Lat,Lon,Distance,Rent,Rent_max,Neighborhood
0,33,1570-1578 Humboldt St,0,1,1.0,1.0,291.0,588.0,39.741330,-104.969330,1.335778,1110,1695,City Park West
1,131,1435 Franklin St # 143506,1,1,1.0,1.0,NaN,NaN,39.739120,-104.968740,1.365113,1380,1380,Cheesman Park
2,87,1607 N Gilpin St # 1607-9,1,1,1.0,1.0,600.0,600.0,39.741849,-104.967521,1.498571,1000,1000,City Park West
3,91,1607 N Gilpin St # 1615-2,2,2,1.0,1.0,1220.0,1220.0,39.741849,-104.967521,1.498571,1795,1795,City Park West
4,172,1635 N Gilpin St,3,3,3.0,3.0,NaN,NaN,39.742277,-104.967564,1.505067,3900,3900,City Park West

In [3]:
df2 = pd.get_dummies(df)
df2.head()

,Unnamed: 0,Beds_Min,Beds_Max,Baths_Min,Baths_Max,Sqft_Min,Sqft_Max,Lat,Lon,Distance,...,Neighborhood_Park Hill Heights,Neighborhood_Park Mayfair Condominiums,Neighborhood_Polo Club North,Neighborhood_Shangri La Heights,Neighborhood_South Park Hill,Neighborhood_Stapleton,Neighborhood_The French Quarter Condominiums,Neighborhood_The Pinnacle at City Park South,Neighborhood_Washington Park,Neighborhood_Washington Virginia Vale
0,33,0,1,1.0,1.0,291.0,588.0,39.741330,-104.969330,1.335778,...,0,0,0,0,0,0,0,0,0,0
1,131,1,1,1.0,1.0,NaN,NaN,39.739120,-104.968740,1.365113,...,0,0,0,0,0,0,0,0,0,0
2,87,1,1,1.0,1.0,600.0,600.0,39.741849,-104.967521,1.498571,...,0,0,0,0,0,0,0,0,0,0
3,91,2,2,1.0,1.0,1220.0,1220.0,39.741849,-104.967521,1.498571,...,0,0,0,0,0,0,0,0,0,0
4,172,3,3,3.0,3.0,NaN,NaN,39.742277,-104.967564,1.505067,...,0,0,0,0,0,0,0,0,0,0

In [4]:
foam = df[["Rent","Beds_Min","Beds_Min","Baths_Min","Sqft_Min","Sqft_Max"]]
foam = foam.dropna()
foam.head()

    Rent  Beds_Min  Beds_Min  Baths_Min  Sqft_Min  Sqft_Max
0   1110         0         0        1.0     291.0     588.0
2   1000         1         1        1.0     600.0     600.0
3   1795         2         2        1.0    1220.0    1220.0
5   1271         1         1        1.0     506.0     506.0
15  2100         3         3        1.0    1800.0    1800.0

In [5]:
X = foam[["Beds_Min","Beds_Min","Baths_Min","Sqft_Min","Sqft_Max"]]
y = foam["Rent"].values.reshape(-1, 1)
print(X.shape, y.shape)

(95, 7) (95, 1)

In [6]:
# Use train_test_split to create training and testing data

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

### END SOLUTION

In [7]:
# Create the model using LinearRegression

### BEGIN SOLUTION
from sklearn.linear_model import LinearRegression
model = LinearRegression()
### END SOLUTION

In [8]:
# Fit the model to the training data and calculate the scores for the training and testing data

### BEGIN SOLUTION
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.8122232811677533
Testing Score: 0.8502474647819508

In [9]:
# Plot the Residuals for the Training and Testing data
import matplotlib.pyplot as plt
### BEGIN SOLUTION
plt.scatter(model.predict(X_train), model.predict(X_train) - y_train, c="blue", label="Training Data")
plt.scatter(model.predict(X_test), model.predict(X_test) - y_test, c="orange", label="Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y.min(), xmax=y.max())
plt.title("Residual Plot")
### END SOLUTION

Text(0.5, 1.0, 'Residual Plot')